# =============== Unity Generated Folders ===============
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/

*.apk
*.aab
*.exe
*.app
*.ipa

UserSettings/
.vscode/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.unityproj

.DS_Store
Thumbs.db

sysinfo.txt

*.bak
*.old
*.orig
*.rej

.collab/

.idea/
*.sln.iml

.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

*.DotSettings.user
